@import 'nav.css';
@import 'footer.css';

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-cointainer{

    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis:25px ;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-4 img{
    width: 100%;
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size:14px ;
}
.col-4:hover{
    transform: translateY(-5px);
}
